body {
  margin: 0;
  display: flex;
  @media (max-width: 1100px) {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #ffffff;
  }
}
